.landing-header {
  margin: 0;
  color: white;
  font-weight: 900;
  font-size: 5vmax;
  font-style: normal;
  font-family: blenny, sans-serif;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.85);
  text-align: center;
}

h1.landing-header {
  margin: 20vh 0 0 0;
}

h2.landing-header {
  font-size: 2.5vmax;
}

.landing {
  background-size: cover;
  background-position: center center;
}