.container {
  display: grid;
  padding: 30px 0;
  grid-template-columns: 1fr 3px 1fr;
}

.timeline {
  background-color: var(--primary);
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary);
  margin-left: -12.5px;
  z-index: 10;
}