.container {
  display: flex;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  background-color: var(--tertiaryTransparent);
}

.projects {
  gap: 30px;
  display: flex;
  padding: 30px;
  align-items: center;
  flex-direction: column;
}