.container {
  display: flex;
  padding: 30px;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  margin-top: calc(100vh - 180px);
  margin-left: var(--sectionMargin);
  margin-right: var(--sectionMargin);
  background-color: var(--tertiaryTransparent);
}

.container > a {
  margin-top: -30px;
  margin-bottom: 30px;
}

.about {
  height: 100%;
  padding: 30px;
  display: flex;
  color: var(--whiteText);
  text-align: justify;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.about button {
  width: max(20%, 150px);
  padding: 10px;
  color: var(--whiteText);
  font-size: 18px;
  margin-top: 15px;
  border-radius: 20px;
  border: 2px solid var(--primary);
  background-color: var(--secondary);
}

.about button:hover {
  cursor: pointer;
  border: 2px solid var(--primary);
  background-color: var(--tertiary);
  transition: background-color 0.25s ease-in-out;
}

.down i {
  color: white;
  text-shadow: 0px 2px 5px rgba(255, 255, 255, 0.85);
}

.down:hover {
  cursor: pointer;
  text-shadow: 0px 2px 10px rgba(255, 255, 255, 0.85);
  transition: all 0.25s ease-in-out;
}

.down i {
  animation: bounce 2.5s 5s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7.5px);
  }
}