.container {
  display: flex;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  margin-bottom: var(--sectionMargin);
  width: calc(100% - 2 * var(--sectionMargin));
  background-color: var(--tertiaryTransparent);
}

.container form {
  gap: 15px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: max(50%, 300px);
}

.container input,
textarea {
  width: 100%;
  resize: none;
  padding: 1.5rem;
  font-size: 14px;
  border-radius: 5px;
  color: var(--whiteText);
  background: var(--tertiary);
  border: 1px solid var(--primary);
}

.container button {
  padding: 10px;
  font-size: 18px;
  margin-top: 15px;
  border-radius: 20px;
  width: max(20%, 150px);
  color: var(--whiteText);
  background-color: transparent;
  border: 1px solid var(--primary);
}

.container button:hover {
  cursor: pointer;
  background-color: var(--tertiary);
  transition: background-color 0.25s ease-in-out;
}

.container button:disabled {
  cursor: not-allowed;
  background: transparent;
  transition: all 1s ease-in-out;
  border: 1px solid var(--primaryTransparent);
}

.formLoading input,
.formLoading textarea {
  color: lightgray;
  background: transparent;
  border: 1px solid var(--primaryTransparent);
}

.hideMessage p {
  margin-bottom: 0;
  color: transparent;
  transition: color 10s ease-in-out;
}

.message p {
  margin-bottom: 0;
  color: var(--whiteText);
  transition: color 0.5s ease-in-out;
}

@media only screen and (max-width: 920px) {
  .container {
    margin-bottom: 0;
  }
}
