.container {
  display: flex;
  width: 100%;
  padding: 30px;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  margin-left: var(--sectionMargin);
  margin-right: var(--sectionMargin);
  background-color: var(--tertiaryTransparent);
}

.container form {
  gap: 15px;
  width: max(50%, 300px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container input, textarea {
  width: 100%;
  resize: none;
  padding: 1.5rem;
  border-radius: 5px;
  background: var(--tertiary);
  color: var(--whiteText);
  border: 1px solid var(--primary);
}

.container button {
  width: max(20%, 150px);
  padding: 10px;
  color: var(--whiteText);
  font-size: 18px;
  margin-top: 15px;
  border-radius: 20px;
  border: 1px solid var(--primary);
  background-color: transparent;
}

.container button:hover {
  cursor: pointer;
  background-color: var(--tertiary);
  transition: background-color 0.25s ease-in-out;
}

.container button:disabled {
  cursor: not-allowed;
  background: transparent;
  border: 1px solid var(--primaryTransparent);
  transition: all 1s ease-in-out;
}

.formLoading input, .formLoading textarea {
  border: 1px solid var(--primaryTransparent);
  background: transparent;
  color: lightgray;
}

.hideMessage p {
  margin-bottom: 0;
  color: transparent;
  transition: color 10s ease-in-out;
}

.message p {
  margin-bottom: 0;
  color: var(--whiteText);
  transition: color 0.5s ease-in-out;
}

