.navbar {
  width: 20%;
  height: 100%;
  display: flex;
  padding: 60px 0;
  align-items: center;
  flex-direction: column;
  background-color: var(--tertiary);
  justify-content: space-between;
}

.name {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name img {
  border-radius: 50%;
  margin-bottom: 15px;
  width: min(40%, 130px);
  box-shadow: rgb(198, 222, 255) 0px 0px 10px 0px;
}

.name h1:nth-child(2) {
  color: var(--whiteText);
  font-size: 4vw;
  font-weight: 200;
}

.name h1:nth-child(3) {
  color: var(--whiteText);
  font-size: 2.5vw;
  font-weight: 200;
}

.menu {
  display: flex;
  width: 80%;
  justify-content: center;
}

.progressBar {
  width: 2px;
  justify-self: start;
  background-color: var(--primary);
}

.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.destinations a {
  text-decoration: none;
  color: var(--whiteText);
  margin: 18px 0;
}

.destinations p {
  font-size: 18px;
  margin: 0;
}

.destinations p:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.destinations p:hover:after {
	width: 100%;
	background: var(--primary);
}

.destinations p:hover {
  color: var(--primary);
  cursor: pointer;
  transition: color 0.25s ease-in;
}

.selected {
  color: var(--primary);
}

@media only screen and (max-width: 920px) {
  .progressBar, .name, .name img {
    display: none;
  }

  .navbar {
    width: 100%;
    max-height: 100px;
    padding: 15px 0;
  }

  .destinations {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
  }

  .menu {
    width: 100%;
  }
}
