.content {
  margin: 0 45px;
  padding: 30px;
  border-radius: 5px;
  color: var(--whiteText);
  border: 1px solid var(--primary);
}

.content header {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--whiteText);
}

.content header h1 {
  font-size: 32px;
}

.body div {
  display: flex;
  justify-content: space-between;
}

.body p:nth-child(2) {
  text-align: justify;
}

.year {
  display: flex;
  justify-content: end;
  padding: 0 30px;
}

.year h1 {
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .content {
    margin-bottom: 30px;
  }
}